* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.colorPicker-container {
  text-align: center;
  border: 3px solid;
  width: 400px;
  height: auto;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  box-shadow: 0 4px 4px;
  background-color: hsl(0, 0%, 80%);
  border-radius: 5px;
}

.colorPicker-block {
  height: 300px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.colorPicker-title {
  margin: 10px;
}

.colorPicker-text {
  font-size: 1.2rem;
  color: hsl(0, 0%, 60%);
}

.colorPicker-input {
  border: 3px solid black;
  border-radius: 5px;
  width: 50px;
  height: 40px;
}

.colorPicker-choose-text {
  margin-bottom: 10px;
  font-weight: bold;
}
